{% block footer %}
<div class="footer">
    <div class="text-center">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
        <a href="https://www.facebook.com/javier.bateman.5" class="fa fa-facebook" style="font-size:30px"></a>
        &emsp;
        <a class="fa fa-instagram" style="font-size:36px" href="https://www.instagram.com/written_on_walls/"></a>
        &emsp;
        <a class="fa fa-github" style="font-size:36px" href=""></a>
    </div>
    <br>
    <div class="col-sm-offset-3">
        <ul class="nav navbar-nav ">
            <li><a href="#">FarmersHand. All Rights Reserved</a></li>
            <li><a href="#">User Agreement</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Help</a></li>
        </ul>
    </div>
</div>
{% endblock %}
